@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?29m12');
  src:  url('fonts/icomoon.eot?29m12#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?29m12') format('truetype'),
    url('fonts/icomoon.woff?29m12') format('woff'),
    url('fonts/icomoon.svg?29m12#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-music:before {
  content: "\e911";
}
.icon-film:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e971";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
